<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cadastro de Usuários</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Meu Crud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/intro-spring-mvc/usuario/todos">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/intro-spring-mvc/usuario/cadastro">Novo Usuário</a>
            </li>
        </ul>
    </div>
</nav>
    <center><h1>Cadastro de Usuários</h1></center>
    <div class="container">
        <hr>
        <div>
            <form th:action="${usuario.id == null} ? @{/usuario/save} : @{/usuario/update}" th:object="${usuario}" method="post">
                <input type="hidden" id="id" th:field="*{id}"/>
                <div class="form-group">
                    <label th:for="nome">Nome: </label>
                    <input type="text" th:field="*{nome}" id="nome" class="form-control" />
                </div>
                <div class="form-group">
                    <label th:for="sobrenome">Sobrenome: </label>
                    <input type="text" th:field="*{sobrenome}" id="sobrenome" class="form-control"/>
                </div>
                <div class="form-group">
                    <label th:for="sexo">Sexo: </label>
                    <select th:field="*{sexo}" id="sexo" class="form-control">
                        <option th:each="sexo : ${sexos}" th:value="${sexo.desc}" th:text="${sexo.desc}">M</option>
                    </select>
                </div>
                <div class="form-group">
                    <label th:for="dtNascimento">Data Nascimento: </label>
                    <input type="date" th:field="*{dtNascimento}" id="dtNascimento" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
